---
import BaseHead from "../components/BaseHead.astro";
import PostComments  from '../components/comments/PostComments.astro'
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, GITHUB } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>游낼 Hey, Developers!</h1>
      <p>
        Bienvenido a mi blog, aqu칤 encontrar치s art칤culos sobre desarrollo web,
        tecnolog칤a y m치s. Encontrar치s articulos utiles para tu d칤a a d칤a como
        desarrollador y tutoriales para aprender nuevas tecnolog칤as, entre otras
        cosas, y lo mejor de todo es que todo es gratis 游, asi que no dudes en
        compartirlo con tus amigos 游땙.
      </p>
      <p>
        Este espacio es para compartir conocimiento y aprender juntos, si
        encuentras alg칰n error o tienes alguna sugerencia no dudes en
        <a href={GITHUB} target="_blank">contactarme</a>, estar칠 encantado de
        escucharte.
      </p>
      <p>Estos son algunos de los temas que podras encontrar aqui:</p>
      <ul>
        <li>Que son Git y GitHub y como usarlos 游냋</li>
        <li>Como instalar y usar Visual Studio Code y sus extensiones 游빓</li>
        <li>
          Como instalar y utilizar WSL2 para tener una terminal de linux en
          Windows 游둰
        </li>
        <li>Que es y como usar la terminal de linux 游냖</li>
        <li>
          Como instalar y utilizar MySQL para tener una base de datos en tu PC
          游냛
        </li>
      </ul>
      <p>
        Esto es solo una peque침a muestra de lo que encontrar치s en este blog, asi
        que no dudes en continuar para no perderte nada.
      </p>
      <p>
        Perfeto, ahora ve a la pestana de <a href="/blog">blogs</a> o <a
          href="/tutorials">tutoriales</a
        > y comienza a leer!
      </p>
      <p>!Es hora de aprender! 游</p>
      <PostComments />
    </main>
    <Footer />

    <style>
      @media (max-width: 475px) {
        h1 {
          text-align: center;
        }
      }
    </style>
  </body>
</html>
